/*----------------[ fonts ]---------------*/

@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');

/*https://stackoverflow.com/questions/38086083/to-use-local-font-in-html-using-font-face*/
@font-face {
    font-family: pixel;
    src: url("../fonts/PixelOperator8.ttf");
    font-display: swap;
}

/*--------------[ general ]---------------*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: pixel, Courier, monospace;
    font-size: 16px;
    color:#ffffff;
    line-height: 1.5;
}

.bg {
    background-color: #090909;
      
}

/*--------------[ headings ]--------------*/
h1 {
    font-family: 'Press Start 2P', cursive;
    text-transform: capitalize;
    font-size: 40px;
}

h2 {
    width: 100%;
    font-size: 1.2em;
    padding-bottom: 15px;
    text-transform: uppercase;
    text-align: center;
    color: #6acbff;
}

h3 {
    text-align: center;
    width: 100%;
}

/*--------------[ buttons ]--------------*/

.btn {
    display: block;
    padding: 12px 0;
    font-family: inherit;
    text-transform: uppercase;
    font-size: inherit;
    background-color: transparent;
    color: inherit;
    transition: 0.3s;
}

/*--------------[ borders ]--------------*/

.bord-white {
    border: 1px solid white;
}

.b-neon-orange {
    border: 2px solid#E58F65;
    border-radius: 6px;
    background-blend-mode: overlay;
    box-shadow: 0px 0px 8px 1.5px #efa17b, 0px 0px 10px 1px #efa17b inset;
}

.b-neon-purple {
    border-radius: 6px;
    background-blend-mode: overlay;
    border: 2px solid #d7b4fa;
    box-shadow: 0px 0px 13px 1.5px #533B4D,
        0px 0px 25px 1px #533B4D inset;
}

.b-neon-blue {
    border: 1px solid #b3fdff;
    border-radius: 3px;
    box-shadow: 0px 0px 3px 1.5px rgba(76, 227, 247, 0.3), 0px 0px 8px 1px rgb(0 224 255 / 50%) inset;
}

/*--------------[ margins ]--------------*/

.mg-bottom {
    margin-bottom: 25px;
}

.pd-bottom {
    padding-bottom: 10px;
}

.pd-top {
    padding-top: 30px;
}

/*-------------[ containers ]-------------*/

.wrapper {
    min-height: 95vh;
    max-width: 950px;
    margin: 0 auto;    
}

header
{
    min-height: 75px;
    height: 15vh;
    max-height: 145px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.game-info {
    min-height: 50px;
    height: 9vh;
    max-height: 72px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    padding: 0 5px;
}

.game-container {
    display: flex;
    flex-wrap: wrap;
}

.flex-container,
.game-over-container {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    margin-right: 20px;
    text-align: center;
}

.word-container,
.keyboard-container,
.win-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    padding: 0px 10px;
}

.word-container {
    min-height: 134px;
    min-height: 150px;
    height: 21.5vh;
    max-height: 170px;
    position: relative;
    flex-direction: column;
    align-items: center;
}

.keyboard-container,
.win-container {
    width: 100%;
    min-height: 200px;
    height: 30vh;
    max-height: 236px;
}

.hangman-container {
    width: calc(40% - 20px);
    position: relative;
    display: flex;
    align-content: center;
}

.game-over-container {
    width: 60%;
    min-height: 375px;
    height: calc(51.5vh + 25px);
    max-height: 431px;
    margin-right: 20px;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
}

/*-------------[ navigation ]-------------*/

#nav-menu {
    width: 35px;
    height: 35px;
    position: relative;
    list-style: none;
    display: inline-block;
    padding: 8px 12px;

}

#toggle-nav {
    width: 35px;
}

.menu-container {
    position: absolute;
    margin: 0 auto;
    top: 45px;
    right: -10px;
    width: 400px;
    max-width: 92vw;
    z-index: 4;
    padding: 20px 0px 15px;
    border: 2px solid #0b0c22;
    box-shadow: 0px 0px 40px 45px rgb(0 0 0 / 40%) inset;
}

.btn-menu {
    width: 75%;
    margin: 0 auto;
    margin-bottom: 12px;
}

.menu-content {
    width: 92.5%;
    margin: 0 auto;
    margin-bottom: 12px;
    font-size: 90%;
}

.menu-content ul {
    padding-left: 15px;
    margin: 15px 0 15px 15px;
}

.menu-content li {
    line-height: 1.5;
}

.menu-content p {
    font-size: initial;
    text-align: center;
    padding-bottom: 15px;
    font-weight: bold;
}

.btn-settings-menu {
    text-align: center;
    padding-bottom: 10px;
}

.btn-level,
.btn-category,
.btn-volume {
    display: inline-block;
    margin: 0 5px 12px;
    min-width: 25%;
    padding: 9px 12px;
    transition: none;
}

.btn-volume img {
    max-height: 14px;
}

#leaderboard p {
    text-align: center;
}

table {
    margin: 0 auto;
    margin-top: 15px;
    width: inherit;
    text-align: center;
    border-collapse: collapse;
}

th {
    text-transform: uppercase;
    padding: 12px 12px;
    font-weight: bold;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

td {
    padding: 12px;
}

/*--------------[ scoring ]-------------*/

.scoring {
    margin: auto;
}

/*filter: https://css-tricks.com/change-color-of-svg-on-hover/*/

.scoring img {
    height: 22px;
    padding-right: 20px;
    vertical-align: bottom;
    /*filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(10deg) brightness(104%) contrast(97%);*/
}

/*----------------[ word ]---------------*/

.word-intro {
    padding-bottom: 25px;
}

#hint {
    position: absolute;
    top: 15px;
    left: 15px;
    filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(10deg) brightness(104%) contrast(97%);
    transition: 0.3s;
}

#hint-content {
    position: absolute;
    top: -45px;
    left: 55px;
    z-index: 1;
    max-width: 80%;
    padding: 15px;
    border: 1px solid #edbb00;
    border-radius: 4px;
    box-shadow: 0px 0px 40px 45px rgb(0 0 0 / 40%) inset;
}

.word {
    display: flex;
    width: 95%;
    justify-content: center;
}

.letter-box {
    width: 40px;
    height: 40px;
    margin: 0 4px;
    padding-top: 12px;
    padding-top: 8px;
    text-align: center;
    font-weight: bold;
    border: 1px solid white;
    text-transform: uppercase;
}

#start {
    width: 40%;
}

/*--------------[ keyboard ]--------------*/

.key {
    width: 40px;
    height: 40px;
    margin: 4px 4px;
    padding-top: 8px;
    text-align: center;
    font-weight: bold;
    text-transform: capitalize;
    transition: 0.3s;
}

.disabled {
    pointer-events: none;
    opacity: 0.4;
}

/*------------[ win message ]------------*/

.continue,
.leave,
#play-again {
    width: 145px;
    margin: 0 10px;
}

/*------------[ game-over ]--------------*/

#game-over h2{
    font-size: 1.8em;
}

.content-group {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.best-score-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
}

#correct-answer,
.count-words,
.final-score,
#best-new-score {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 110%;
}

#save-notification {
    color: #edbb00;
    padding-top: 8px;
}

.game-over-container input {
    display: block;
    width: 235px;
    height: 35px;
    background-color: transparent;
    color: inherit;
    margin-bottom: 0px;
}

/*-------------[ hangman ]--------------*/

#hangman {
    max-width: 86.5%;
    margin: 0 auto;
    height: 100%;
    max-height: 100%;
}

.path {
    stroke: url(#grad1);
    fill: transparent;
    stroke-width: 6px;
    stroke-linecap: round;
    stroke-linejoin: round;
}

/*https://codepen.io/MyXoToD/post/howto-self-drawing-svg-animation*/

.animate {
    stroke-dasharray: 870;
    stroke-dashoffset: 870;
    animation-duration: 4s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    animation-name: draw;
}

@keyframes draw {
    to {
        stroke-dashoffset: 0;
    }
}

.volume-mobile {
    position: absolute;
    right: 25px;
    bottom: 12px;
    display: none;
}

/*---------------[ Footer ]--------------*/

footer {
    margin-top: 35px;
    text-size-adjust: 35;
    position: relative;
    text-align: center;
    align-items: center;
}


/*----------[ Hovering effect ]----------*/

/*https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_buttons_fade3*/

.btn:hover,
.key:hover {
    background-color: rgb(10 12 26 / 45%);
}

#toggle-nav:hover,
#hint:hover {
    transform: scale(1.1);
    opacity: 81%;
}


/*---------[ Additional classes ]---------*/

.hide {
    display: none;
}

.btn-level:hover,
.btn-category:hover,
.btn-volume:hover,
.active {
    background: #b00ebe;
    color: white;
}

input[type="text"] {
    font-size: 16px;
}


/*-----------[ Media Queries ]-----------*/

/*XL screens*/
@media screen and (min-height: 835px) {
    body {
        height: 100vh;
    }

    .wrapper {
        max-width: 1050px;
        margin: 0 auto;
    }

    #keyboard-container {
        padding: 0 35px;
    }
}

/*Medium landscape*/
@media screen and (max-width: 850px) and (orientation: landscape) {

    #hint {
        left: 110%;
        z-index: 1;
    }

    #hint-content {
        right: 0px;
    }

    .key,
    .letter-box {
        width: 38px;
        height: 38px;
        padding-top: 6px;
    }
}

@media screen and (max-height: 690px) {
    #modal-form {
        align-items: flex-start;
    }
}

/*Small landscape*/
@media screen and (max-height: 550px) and (orientation: landscape) {

    /*------------ containers -----------*/
    .word-container {
        height: 19.5vh;
        min-height: 100px;
    }

    .game-over-container {
        height: calc(49.5vh + 25px);
        min-height: 332px;
        padding: 0;
    }

    .best-score-container {
        padding-top: 10px;
    }

    /*------------ word -----------*/
    .word-intro {
        display: none;
    }

    #hint {
        left: 110%;
        z-index: 1;
    }

    #hint-content {
        right: 0px;
    }

    /*------------ hangman -----------*/
    #hangman {
        max-width: 80%;
    }

    /*---------- game over ----------*/
    #best-new-score {
        display: none;
    }
}


@media screen and (max-width: 755px) and (max-height: 584px) and (orientation: landscape) {
    body {
        font-size: 83%;
    }

    #game-over h2 {
        font-size: 1.4em;
        padding-bottom: 15px;
    }

    /*---------- margin & spacing ------*/
    .mg-bottom {
        margin-bottom: 15px;
    }

    .pd-top {
        padding-top: 15px;
    }

    /*------------ containers -----------*/
    .flex-container,
    .game-over-container {
        width: 60%;
        margin-right: 15px;
    }

    .hangman-container {
        width: calc(40% - 15px);
    }

    .game-over-container {
        min-height: 278px;
    }

    .word-container {
        height: 17.5vh;
        min-height: 65px;
    }

    .keyboard-container,
    .win-container {
        min-height: 185px;
    }

    /*------------ word -----------*/
    .word-intro {
        display: none;
    }

    /*----- keyboard / letter box -----*/
    .key,
    .letter-box {
        max-width: 30px;
        max-height: 30px;
        padding-top: 5px;
    }

    /*------------ buttons -----------*/
    .continue,
    .leave,
    #play-again {
        margin: 0 5px;
    }
}

/*Tablets & xs screens*/

@media screen and (max-width: 769px) and (orientation: portrait),
screen and (max-width: 495px) and (orientation: landscape) {

    .wrapper {
        width: 85%;
    }

    /*---------- margin & spacing ------*/
    .mg-bottom {
        margin-bottom: 15px;
    }

    .pd-top {
        padding-top: 35px;
    }

    /*------------ headings -----------*/
    #game-over h2,
    .form-container h2 {
        font-size: 1.4em;
        padding-bottom: 25px;
    }

    /*------------ containers -----------*/
    header,
    footer {
        height: 11vh;
        min-height: 70px;
    }

    .game-info {
        height: 7vh;
    }

    .hangman-container {
        width: 100%;
        height: 25vh;
        min-height: 200px;
        order: 2;
        margin-bottom: 15px;
    }

    .flex-container {
        width: 100%;
        margin-right: 0;
        order: 3;
    }

    .word-container {
        width: 100%;
        min-height: auto;
        height: 17vh;
        min-height: 150px;
    }

    .keyboard-container,
    .win-container {
        padding: 30px 25px;
        height: 22.5vh;
        align-content: center;
        min-height: 235px;
    }

    .game-over-container {
        width: 100%;
        height: calc(39.5vh + 15px);
        order: 3;
        margin-right: 0;

    }

    /*------------ hangman -----------*/
    #hangman {
        width: 30%;
    }

    .path {
        stroke-width: 9px;
    }

    /*----- keyboard / letter box -----*/
    .key,
    .letter-box {
        width: 42px;
        height: 42px;
        padding-top: 10px;
    }
}

/* Mobile & xxs screens */

@media screen and (max-width: 576px) and (orientation: portrait),
screen and (max-width: 495px) and (orientation: landscape) {

    .wrapper {
        width: 92%;
    }

    /*---------- margin & spacing -------*/
    .pd-bottom {
        padding-bottom: 10px
    }

    .pd-top {
        padding-top: 25px;
    }

    .b-neon-blue {
        border: 0.5px solid #b3fdff;
    }

    /*------------ headers -----------*/
    h1 {
        font-size: 30px;
    }

    h2 {
        padding-bottom: 25px;
    }

    /*------------ containers -----------*/
    header,
    footer {
        height: 9.75vh;
    }

    .game-info {
        height: 7.25vh;
    }

    #nav-menu {
        width: 30px;
        height: 30px;
    }

    .hangman-container {
        height: auto;
        min-height: auto;
    }

    .flex-container {
        width: 100%;
    }

    .word-container {
        height: 10.75vh;
        min-height: 87px;
    }

    .keyboard-container,
    .win-container {
        padding: 0px 5px;
        height: 27.5vh;
        min-height: 215px;
    }

    .game-over-container {
        padding: 10px;
        height: calc(38.5vh + 15px);
        min-height: 325px;
    }

    /*------------ scoring -----------*/
    .scoring img {
        padding-right: 10px;
    }

    .sm-hide {
        display: none;
    }

    .volume-mobile {
        display: block;
    }

    /*------------ word -----------*/
    .word-intro {
        display: none;
    }

    .word {
        width: 97.5%;
        padding-top: 0;
    }

    #hint {
        left: 25px;
        top: -57px;
        z-index: 1;
    }

    /*------------ hangman -----------*/
    #hangman {
        width: 45%;
    }

    /*-------- key/letter box ---------*/
    .key,
    .letter-box {
        padding-top: 6px;
        max-width: 39px;
        max-height: 39px;
    }

    .letter-box {
        margin: 0 3px;
    }

    /*---------- Game over -----------*/
    .best-score-container {
        padding-top: 0px;
    }

    #best-new-score {
        display: none;
    }

    #correct-answer,
    .count-words,
    .final-score,
    #best-new-score {
        font-weight: bold;
        text-transform: uppercase;
        font-size: inherit;
    }

    /*------------ modals ------------*/
    .modal-window {
        height: -webkit-fill-available;
        padding: 5px 0;
    }

    .close-modal {
        top: -7px;
        right: -7px;
    }

    .form-container,
    .form-response-container {
        width: 91.5%;
    }

    .form-content {
        width: 85%;
    }
}

/* xs mobile */
@media screen and (max-width: 372px) and (orientation: portrait),
screen and (max-width: 390px) and (orientation: landscape) {
    body {
        font-size: 70%;
    }

    .wrapper {
        width: 94%;
    }

    /*------------ headings -----------*/
    h1 {
        font-size: 210%;
    }

    .menu-content p {
        font-size: 1.15em;
    }

    #game-over h2 {
        padding-bottom: 15px;
    }

    /*------------ containers -----------*/
    header,
    footer {
        height: 9.6vh;
        min-height: 50px;
    }

    .game-info {
        height: 6.35vh;
        margin-bottom: 7.5px;
        min-height: 30px;
    }

    .hangman-container {
        height: 19.75vh;
        margin-bottom: 7.5px;
        min-height: 100px;
    }

    .word-container {
        padding: 8px 2px;
        height: 11.75vh;
        min-height: 50px;
        margin-bottom: 7.5px;
    }

    .keyboard-container,
    .win-container {
        padding: 8px 2px;
        height: 32vh;
        min-height: 160px;
    }

    /*---------- menu ------------*/
    #nav-menu {
        width: 27px;
        height: 27px;
    }

    /*---------- scoring ----------*/
    .scoring img,
    #hint {
        height: 17px;
    }

    /*------------ word -----------*/
    #hint {
        left: 25px;
        top: -42px;
        z-index: 1;
    }

    /*------------ buttons -----------*/
    .continue,
    .leave,
    #play-again {
        width: 130px;
        margin: 0 5px;
    }

    /*-------- key/letter box ---------*/
    .key,
    .letter-box {
        padding-top: 8px;
        max-width: 30px;
        max-height: 30px;
    }

    /*------------ Game over -----------*/
    .game-over-container {
        padding: 5px;
        height: 45vh;
        min-height: fit-content;
    }

    .game-over-container input {
        height: 25px;
    }

    /*------------ Footer -----------*/
    footer {
        margin-top: 10px;
    }

    a {
        padding-left: 3px;
    }

    a img {
        height: 25px;
        transition: 0.3s;
    }

    /*----------- Modals -------------*/
    .modal-window {
        padding-top: 3px;
    }

    #message {
        padding: 8px;
        width: 100%;
        height: 100px;
    }

    .btn-form {
        padding: 10px 15px 8px;
    }

    .close-modal {
        height: 23px;
        top: -3px;
        right: -6px;
    }
}